# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_Drac_LEFT
    def_bool $(shields_list_contains,drac_left)

config SHIELD_Drac_RIGHT
    def_bool $(shields_list_contains,drac_right)
