# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_Dactyl_LEFT

config ZMK_KEYBOARD_NAME
    default "dactyl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_Dactyl_LEFT || SHIELD_Dactyl_RIGHT

config ZMK_SPLIT
    default y

endif
